.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  position: absolute;
  right: 2em;
  top: 2em;
  text-transform: capitalize;

  padding: 8px 16px;
  letter-spacing: .2em;

  cursor: pointer;
  border-radius: 6px;

  color: #fefefe;
  border: 2px solid #fefefe;
  background-color: transparent;
}

button::before {
  content: 'Change clock ➜';
  position: absolute;
  white-space: nowrap;
  right: 115%;
  cursor: default;
}